body {
    background-color: #f4f4f9;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.main {
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    background: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h3 {
    color: #292929;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

td a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px 10px;
    transition: 0.3s;
}
td a:hover {
    color: #ff6600;
    background-color: rgba(255, 102, 0, 0.1);
    border-radius: 5px;
}

ul, ol {
    margin-left: 20px;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
    color: #555;
}

ol {
    list-style-type: decimal;
    color: #555;
}

ul li, ol li {
    font-size: 1.1em;
    margin-bottom: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
}

th {
    background-color: #292929;
    color: white;
    text-align: left;
    font-size: 1.2em;
    padding: 12px;
}

td {
    font-size: 1.1em;
    color: #444;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
    transition: 0.3s;
}

th, td {
    padding: 15px;
}
td img {
    height: 50px;
}

td {
    vertical-align: middle;
}
