<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form with Validations</title>
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <style>
        .is-invalid {
            border-color: red;
        }
        span {
            color: red;
            font-size: 0.9em;
        }
        form.ng-dirty {
            background-color: lawngreen;
        }
        form.ng-pristine {
            background-color: aqua;
        }
    </style>
</head>
<body ng-app="MyApp">

    <div ng-controller="FormController">
        <h2>User Registration Form</h2>

        <form name="registrationForm" ng-submit="submitForm()" novalidate>

            <label for="username">User Name (Start with a capital letter and only alphabets):</label>
            <input type="text" name="username" ng-model="username" required ng-pattern="^[A-Z][a-zA-Z]*$" ng-class="{'is-invalid': registrationForm.username.$invalid && registrationForm.username.$dirty}" />
            <span ng-show="registrationForm.username.$dirty && registrationForm.username.$invalid">User Name is required and must start with a capital letter.</span>
            <br><br>

            <label for="password">Password (5-15 characters, alphanumeric):</label>
            <input type="password" name="password" ng-model="password" required ng-minlength="5" ng-maxlength="15" ng-pattern="^[a-zA-Z0-9]+$" ng-class="{'is-invalid': registrationForm.password.$invalid && registrationForm.password.$dirty}" />
            <span ng-show="registrationForm.password.$dirty && registrationForm.password.$invalid">Password is required, must be alphanumeric, and 5-15 characters long.</span>
            <br><br>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" name="confirmPassword" ng-model="confirmPassword" required ng-match="password" ng-class="{'is-invalid': registrationForm.confirmPassword.$invalid && registrationForm.confirmPassword.$dirty}" />
            <span ng-show="registrationForm.confirmPassword.$dirty && registrationForm.confirmPassword.$invalid">Passwords must match.</span>
            <br><br>

            <label for="email">Email:</label>
            <input type="email" name="email" ng-model="email" required ng-class="{'is-invalid': registrationForm.email.$invalid && registrationForm.email.$dirty}" />
            <span ng-show="registrationForm.email.$dirty && registrationForm.email.$invalid">Please enter a valid email.</span>
            <br><br>

            <label for="terms">Accept Terms and Conditions:</label>
            <input type="checkbox" name="terms" ng-model="terms" required ng-checked="true" />
            <span ng-show="registrationForm.terms.$invalid && registrationForm.terms.$dirty">You must accept the terms and conditions.</span>
            <br><br>

            <label>Gender:</label>
            <input type="radio" name="gender" ng-model="gender" value="Male" required /> Male
            <input type="radio" name="gender" ng-model="gender" value="Female" required /> Female
            <span ng-show="registrationForm.gender.$invalid && registrationForm.gender.$dirty">Please select your gender.</span>
            <br><br>

            <label for="country">Country:</label>
            <select name="country" ng-model="country" ng-options="country for country in countries" required ng-class="{'is-invalid': registrationForm.country.$invalid && registrationForm.country.$dirty}">
                <option value="">-- Select Country --</option>
            </select>
            <span ng-show="registrationForm.country.$invalid && registrationForm.country.$dirty">Please select a country.</span>
            <br><br>

            <label for="phone">Phone Number (10 digits):</label>
            <input type="text" name="phone" ng-model="phone" ng-pattern="^\d{10}$" required ng-class="{'is-invalid': registrationForm.phone.$invalid && registrationForm.phone.$dirty}" />
            <span ng-show="registrationForm.phone.$dirty && registrationForm.phone.$invalid">Phone number must be 10 digits long.</span>
            <br><br>

            <label for="panCard">PAN Card (Format: ABCDE1234F):</label>
            <input type="text" name="panCard" ng-model="panCard" ng-pattern="^[A-Z]{5}[0-9]{4}[A-Z]{1}$" required ng-class="{'is-invalid': registrationForm.panCard.$invalid && registrationForm.panCard.$dirty}" />
            <span ng-show="registrationForm.panCard.$dirty && registrationForm.panCard.$invalid">Please enter a valid PAN card number.</span>
            <br><br>

            <input type="submit" value="Submit" ng-disabled="registrationForm.$invalid" />
        </form>
    </div>

    <script>
        var app = angular.module('MyApp', []);

        app.controller('FormController', function($scope) {

            $scope.countries = ['India', 'USA', 'UK', 'Canada', 'Australia'];

            $scope.username = '';
            $scope.password = '';
            $scope.confirmPassword = '';
            $scope.email = '';
            $scope.terms = false;
            $scope.gender = '';
            $scope.country = '';
            $scope.phone = '';
            $scope.panCard = '';

            $scope.submitForm = function() {
                if ($scope.registrationForm.$valid) {
                    alert("Form submitted successfully!");
                } else {
                    alert("Please correct the errors in the form.");
                }
            };
        });
    </script>

</body>
</html>
