<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
<div ng-app="myapp" ng-controller="myctrl">
<input type="text" ng-model="fname">
<input type="text" ng-model="mycolor" 
ng-init="mycolor='pink'" style="background-color:{{mycolor}};">
<p>Your Name{{fname}}</p>
<p ng-bind="fname"></p>

<ul>
<li ng-repeat="x in Skills">{{x}}<li/>
</ul>
<ul>
<li ng-repeat="x in customer">{{x.country}}</li>
</ul>
</div>
<script>
var app=angular.module("myapp",[]);
app.controller("myctrl",function($scope)
{
$scope.fname="Smith";
$scope.Skills=["HTML","XML","ASP"];
$scope.customer=[{name:"Smith",country:"USA",age:23},
                 {name:"Mike",country:"UK",age:34},
                 {name:"Ram",country:"India",age:34}
                 ] 				 
});
</script>
</body>
</html>